$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;
$margin60: 60px;
$margin80: 80px;

$gray:#898989;
$light-gray: #EBECEC;
$white: #fff;
$yellow: #fec004;
$orange: #EF7F1A;
$black: #000;

$breackPoint_xxl: 1200px;
$breackPoint_xl: 992px;
$breackPoint_md: 768px;
$breackPoint_sm: 576px;